.title {
  font-size: 28px;
  margin-bottom: 50px;
  font-weight: bold;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

.photo > img {
  width: 200%;
  height: 200%;
  object-fit: cover;
  border-radius: 8px;
}

.place {
  font-size: 26px;
}
