.coupon {
  background-color: white;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #efefef;
}

.coupon > i {
  margin-right: 7px;
  font-size: 15px;
  color: #ff7479;
}

.sale {
  background-color: white;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #efefef;
}

.sale > i {
  margin-right: 7px;
  font-size: 15px;
}
