.contents {
  width: fit-content;
  text-align: center;
  padding-bottom: 20px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h6 {
  font-size: 13px;
}

.card {
  width: 400px;
  height: 450px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.photo > img {
  width: 400px;
  height: 280px;
  object-fit: cover;
  border-radius: 5px;
}

button {
  border: 1px solid #efefef;
  border-radius: 3px;
  margin-top: 15px;
}

.musical {
  padding-top: 15px;
  font-weight: bold;
  font-size: 20px;
}

.culture {
  padding-top: 55px;
  color: rgb(160, 158, 158);
  font-size: 15px;
}

.wow {
  background-color: blueviolet;
  color: white;
  padding-top: 5px;
}
